* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #000000;
    color: #727272;
    padding: 1rem;
    text-align: center;
}

.container {
     background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    border-radius: 10px;
    margin: 30px auto;
}

h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}

.input-section {
    display: flex;
    gap: 8px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    background-color: #263fc8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
}

li span {
    text-align: left;
    font-size: 14px;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}